.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/blog/Tool_PostList')
	h3 Post List Options
	.xepan-tool-option
		.xepan-tool-option-title Show Title
		.xepan-tool-option-value 
			select#show_title(data-attr='show_title')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Description
		.xepan-tool-option-value 
			select#show_description(data-attr='show_description')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Show Paginator
		.xepan-tool-option-value 
			select#show_paginator(data-attr='show_paginator')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Set By Order
		.xepan-tool-option-value
			select#set_by_order(data-attr='set_by_order')
				option order_by_id
				
				option order_by_recent_post

				option order_by_created_at
	.xepan-tool-option
		.xepan-tool-option-title Show Image
		.xepan-tool-option-value 
			select#show_image(data-attr='show_image')
				option true																					
				option false			
	.xepan-tool-option
		.xepan-tool-option-title Description Page URL
		.xepan-tool-option-value 
			input#description_page_url(data-attr='description_page_url')
	.xepan-tool-option
		.xepan-tool-option-title Paginator Rows Per Page
		.xepan-tool-option-value 
			input#paginator_set_rows_per_page(data-attr='paginator_set_rows_per_page')			
																																																
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				$(this).val($(current_selected_component).attr($(this).data('attr')));				
			});


		})