.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/blog/Tool_CategoryList')
	h3 Blog Category Options
	.xepan-tool-option
		.xepan-tool-option-title Show Post Count
		.xepan-tool-option-value 
			select#show_post_count(data-attr='show_post_count')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Category Count
		.xepan-tool-option-value 
			input#category_count(data-attr='category_count')
	.xepan-tool-option
		.xepan-tool-option-title Category List Url
		.xepan-tool-option-value 
			input#redirect_page_url(data-attr='redirect_page_url') 
	.xepan-tool-option
		.xepan-tool-option-title Order
		.xepan-tool-option-value 
			select#order(data-attr='order')
				option true																					
				option false 
	.xepan-tool-option
		.xepan-tool-option-title Group
		.xepan-tool-option-value 
			input#group(data-attr='group') 					
	.xepan-tool-option
		.xepan-tool-option-title Show Posts
		.xepan-tool-option-value 
			select#show_post(data-attr='show_post')
				option true																					
				option false				
																																																
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				$(this).val($(current_selected_component).attr($(this).data('attr')));				
			});
		})