.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/blog/Tool_PostDetail')
	h3 Post Detail Options
	.xepan-tool-option
		.xepan-tool-option-title Show Image
		.xepan-tool-option-value 
			select#show_image(data-attr='show_image')
				option true																					
				option false	
	.xepan-tool-option
		.xepan-tool-option-title Show Tag
		.xepan-tool-option-value 
			select#show_tag(data-attr='show_tag')
				option true																					
				option false	
	.xepan-tool-option
		.xepan-tool-option-title Show Comment
		.xepan-tool-option-value 
			select#show_comment_list(data-attr='show_comment_list')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Allow Anonymous Comment
		.xepan-tool-option-value 
			select#allow_anonymous_comment(data-attr='allow_anonymous_comment')
				option true																					
				option false
	.xepan-tool-option
		.xepan-tool-option-title Comment Form Position
		.xepan-tool-option-value 
			select#comment_form_position(data-attr='comment_form_position')
				option(value='below') Below																		
				option(value='above') Above	
				
	.xepan-tool-option
		.xepan-tool-option-title Login Page
		.xepan-tool-option-value 
			input#login_url(data-attr='ogin_page')						
																																																
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				$(this).val($(current_selected_component).attr($(this).data('attr')));				
			});
		})