div(id='{$_name}' class="{$class} row" style="{$style}")
  .widget.categories
    h3 Categories
    {rows}{row}
    .row
      .col-sm-6
        ul.list-group
          li.list-group-item
            a(href='{$url}')
              | {$name} 
              span.pull-right.badge {$post_count}
          {post_wrapper}     
          {cat_post}
          {rows}{row}
          .row
            .col-sm-12
              a( href= "{$post_id}" ) {title}asdadas{/}
          {/rows}{/row}
          {/cat_post}
          {/}    
        
    
    {/}{/}
    {not_found}
    div.full-width.alert.alert-warning(role="alert")
      strong.glyphicon.glyphicon-warning-sign &nbsp;Warning!
        span &nbsp;{$not_found_message}
    {/}
    {paginator_wrapper}
    .xshop-item-paginator(style='float:none; clear:both')
      {$Paginator}
    {/}            