div(id='{$_name}' class="{$class} row" style="{$style}")
  .widget.categories
    h3 Categories
    .row
      .col-sm-12
        ul.list-group
          {rows}{row}
          div.seprate-li-content
            li.list-group-item
              a(href='{$url}' style="font-size:20px")
                | {$name} 
                span.pull-right.badge {$post_count}
            {post_wrapper}     
            {cat_post}
            {rows}{row}
            .row.blog-post-content
              .col-sm-12
                a( href= "{$post_detail_page_url}" class=" {$active_class}") 
                  small(class="{$color}"){title}asdadas{/}
            {/rows}{/row}
            {/cat_post}
            {/}    
          {/}{/}
        
    
    {not_found}
    div.full-width.alert.alert-warning(role="alert")
      strong.glyphicon.glyphicon-warning-sign &nbsp;Warning!
        span &nbsp;{$not_found_message}
    {/}
    {paginator_wrapper}
    .xshop-item-paginator(style='float:none; clear:both')
      {$Paginator}
    {/}
style.
  .blog-post-content{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .seprate-li-content{
    margin-bottom:5px;
  }
  .seprate-li-content .list-group-item{
    border-top-left-radius:8px!important;
    border-top-right-radius :8px!important; 
  }
  .widget.categories a.active {
    font-weight: bold;
  }

  .row.blog-post-content{
    width:100%;
    margin:auto;
  }