section#blog.container
  .center
    h2 Blogs 
    p.lead Blog related information with it's comments.
  .blog
    .row
      .col-md-8
        .blog-item
          img.img-responsive.img-blog(src='{$image}', width='100%', alt='image here')
          .row
            .col-xs-12.col-sm-2.text-center
              .entry-meta
                span#publish_date {created_at} 07  NOV {/}
                span
                  i.fa.fa-user
                  a(href='#') {created_by} John Doe {/}
                span
                  i.fa.fa-comment
                  a(href='blog-item.html#comments') {comment_count} 2 Comments {/}
            .col-xs-12.col-sm-10.blog-content
              {title_wrapper}
              h2 {title} Consequat bibendum quam {/}
              {/}
              {desription_wrapper}
              p
                {description}
                | Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.
                {/}
              {/}
              .post-tags
                strong Tag : 
                a(href='#') {tag} Cool {/}
        // /.blog-item
        .media.reply_section
          .pull-left.post_reply.text-center
            a(href='#')
              img.img-circle(src='images/blog/boy.png', alt='image here')
            ul
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-google-plus
          .media-body.post_reply_content
            h3 Antone L. Huges
            p.lead
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariaturp
            p
              strong Web:
              a(href='http://www.shapebootstrap.net') www.shapebootstrap.net
        h1#comments_title {comment_count} 5 {/} Comments
        {$comment}
        {comment_lister}
        {rows}
        {row}
        .row
            {$comment_list}
        {/}{/}
        {/}
        .message_heading
          h4 Leave a Reply
          p
            | Make sure filled information should to correct. HTML code is not allowed
        {$leave_reply}
        // /#contact-page
      // /.col-md-8
      aside.col-md-4
        .widget.search
          form(role='form')
            input.form-control.search_box(type='text', autocomplete='off', placeholder='Search Here')
        // /.search
        .widget.categories
          h3 Recent Comments
          .row
            .col-sm-12
              .single_comments
                img(src='images/blog/avatar3.png', alt='image here')
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                .entry-meta.small.muted
                  span
                    | By 
                    a(href='#') Alex
                  | On 
                  a(href='#') Creative
              .single_comments
                img(src='images/blog/avatar3.png', alt='image here')
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                .entry-meta.small.muted
                  span
                    | By 
                    a(href='#') Alex
                  | On 
                  a(href='#') Creative
              .single_comments
                img(src='images/blog/avatar3.png', alt='image here')
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                .entry-meta.small.muted
                  span
                    | By 
                    a(href='#') Alex
                  | On 
                  a(href='#') Creative
        // /.recent comments
        .widget.categories
          h3 Categories
          .row
            .col-sm-6
              ul.blog_category
                li
                  a(href='#')
                    | Computers 
                    span.badge 04
                li
                  a(href='#')
                    | Smartphone 
                    span.badge 10
                li
                  a(href='#')
                    | Gedgets 
                    span.badge 06
                li
                  a(href='#')
                    | Technology 
                    span.badge 25
        // /.categories
        .widget.archieve
          h3 Archieve
          .row
            .col-sm-12
              ul.blog_archieve
                li
                  a(href='#')
                    i.fa.fa-angle-double-right
                    |  December 2013 
                    span.pull-right (97)
                li
                  a(href='#')
                    i.fa.fa-angle-double-right
                    |  November 2013 
                    span.pull-right (32)
                li
                  a(href='#')
                    i.fa.fa-angle-double-right
                    |  October 2013 
                    span.pull-right (19)
                li
                  a(href='#')
                    i.fa.fa-angle-double-right
                    |  September 2013 
                    span.pull-right (08)
        // /.archieve
        .widget.tags
          h3 Tag Cloud
          ul.tag-cloud
            li
              a.btn.btn-xs.btn-primary(href='#') Apple
            li
              a.btn.btn-xs.btn-primary(href='#') Barcelona
            li
              a.btn.btn-xs.btn-primary(href='#') Office
            li
              a.btn.btn-xs.btn-primary(href='#') Ipod
            li
              a.btn.btn-xs.btn-primary(href='#') Stock
            li
              a.btn.btn-xs.btn-primary(href='#') Race
            li
              a.btn.btn-xs.btn-primary(href='#') London
            li
              a.btn.btn-xs.btn-primary(href='#') Football
            li
              a.btn.btn-xs.btn-primary(href='#') Porche
            li
              a.btn.btn-xs.btn-primary(href='#') Gadgets
        // /.tags
        .widget.blog_gallery
          h3 Our Gallery
          ul.sidebar-gallery
            li
              a(href='#')
                img(src='images/blog/gallery1.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery2.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery3.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery4.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery5.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery6.png', alt='image here')
        // /.blog_gallery
    // /.row
  // /.blog
// /#blog
{$post_title}
{$post_description}

{$Content}