section#blog.container
  .center
    h2 Blogs 
  .blog
    .row
      .col-md-8
        .blog-item
          .row
            .col-xs-12.col-sm-2.text-center
              .entry-meta
                span#publish_date {$created_at}
                span
                  i.fa.fa-user
                  a(href='#') {$created_by}
                span
                  i.fa.fa-comment
                  a(href='blog-item.html#comments') {$comment_count}
            .col-xs-12.col-sm-10.blog-content
              {image_wrapper}
              img(src="{$image}")
              {/}
              h2 {$title}
              p
                {$post_description}
              {tag_wrapper}
              .post-tags
                strong Tag : 
                a(href='#') {$tag}
              {/}
                
        h1#comments_title {comment_count} 5 {/} Comments
        {comment_wrapper}
        {$comment_list}
        {/}
        h2 Anonymous Comment
        {anonymous_comment_list_wrapper}
        {$anonymous_comment_list}
        {/}
        .message_heading
          h4 Leave a Reply
          p
            | Make sure filled information should to correct. HTML code is not allowed
        {$leave_reply}
{$Content}