
<div class="blog">
  <div class="row">
    <div class="col-md-12">{image_wrapper}<img src="{$image}" style="height:auto; width='80%' max-width:80%" alt="" class="img-responsive img-blog"/>{/}</div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-12 col-md-3 text-center">
      <ul class="list-group">
        <li class="list-group-item">{$created_at_date}<span class="pull-right"><i class="fa fa-calendar"></i></span></li>
        <li class="list-group-item">{$created_by}<span class="pull-right"> <i class="fa fa-user"></i></span></li>
        <li class="list-group-item"><a href="#">{$comment_count}</a><span class="pull-right"><i class="fa fa-comment"></i></span></li>
      </ul>
    </div>
    <div class="col-xs-10 col-sm-12 col-md-9">
      <h2>{$title}</h2>
      <p>{$post_description}</p>{tag_wrapper}
      <div class="post-tags"><strong>Tag : </strong><a href="#">{$tag}</a></div>{/} 
    </div>
  </div>{$comments}    
</div>{$Content}
<style type="text/css" media="screen">
  .blog textarea {
    width: 100%;
  }
</style>