
<section id="blog" class="container">
  <div class="center">
    <h2>Blogs </h2>
    <p class="lead">Blog related information with it's comments.</p>
  </div>
  <div class="blog">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-item"><img src="{$image}" width="100%" alt="image here" class="img-responsive img-blog"/>
          <div class="row">
            <div class="col-xs-12 col-sm-2 text-center">
              <div class="entry-meta"><span id="publish_date">{created_at} 07  NOV {/}</span><span><i class="fa fa-user"></i><a href="#">{created_by} John Doe {/}</a></span><span><i class="fa fa-comment"></i><a href="blog-item.html#comments">{comment_count} 2 Comments {/}</a></span></div>
            </div>
            <div class="col-xs-12 col-sm-10 blog-content">{title_wrapper}
              <h2>{title} Consequat bibendum quam {/}</h2>{/}
              {desription_wrapper}
              <p>
                {description}
                Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.
                {/}
              </p>{/}
              <div class="post-tags"><strong>Tag : </strong><a href="#">{tag} Cool {/}</a></div>
            </div>
          </div>
        </div>
        <!-- /.blog-item-->
        <div class="media reply_section">
          <div class="pull-left post_reply text-center"><a href="#"><img src="images/blog/boy.png" alt="image here" class="img-circle"/></a>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <div class="media-body post_reply_content">
            <h3>Antone L. Huges</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariaturp</p>
            <p><strong>Web:</strong><a href="http://www.shapebootstrap.net">www.shapebootstrap.net</a></p>
          </div>
        </div>
        <h1 id="comments_title">{comment_count} 5 {/} Comments</h1>{$comment}
        {comment_lister}
        {rows}
        {row}
        <div class="row">{$comment_list}</div>{/}{/}
        {/}
        <div class="message_heading">
          <h4>Leave a Reply</h4>
          <p>Make sure filled information should to correct. HTML code is not allowed</p>
        </div>{$leave_reply}
        <!-- /#contact-page-->
      </div>
      <!-- /.col-md-8-->
      <aside class="col-md-4">
        <div class="widget search">
          <form role="form">
            <input type="text" autocomplete="off" placeholder="Search Here" class="form-control search_box"/>
          </form>
        </div>
        <!-- /.search-->
        <div class="widget categories">
          <h3>Recent Comments</h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="single_comments"><img src="images/blog/avatar3.png" alt="image here"/>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                <div class="entry-meta small muted"><span>By <a href="#">Alex</a></span>On <a href="#">Creative</a></div>
              </div>
              <div class="single_comments"><img src="images/blog/avatar3.png" alt="image here"/>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                <div class="entry-meta small muted"><span>By <a href="#">Alex</a></span>On <a href="#">Creative</a></div>
              </div>
              <div class="single_comments"><img src="images/blog/avatar3.png" alt="image here"/>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                <div class="entry-meta small muted"><span>By <a href="#">Alex</a></span>On <a href="#">Creative</a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.recent comments-->
        <div class="widget categories">
          <h3>Categories</h3>
          <div class="row">
            <div class="col-sm-6">
              <ul class="blog_category">
                <li><a href="#">Computers <span class="badge">04</span></a></li>
                <li><a href="#">Smartphone <span class="badge">10</span></a></li>
                <li><a href="#">Gedgets <span class="badge">06</span></a></li>
                <li><a href="#">Technology <span class="badge">25</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.categories-->
        <div class="widget archieve">
          <h3>Archieve</h3>
          <div class="row">
            <div class="col-sm-12">
              <ul class="blog_archieve">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> December 2013 <span class="pull-right">(97)</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2013 <span class="pull-right">(32)</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2013 <span class="pull-right">(19)</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2013 <span class="pull-right">(08)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.archieve-->
        <div class="widget tags">
          <h3>Tag Cloud</h3>
          <ul class="tag-cloud">
            <li><a href="#" class="btn btn-xs btn-primary">Apple</a></li>
            <li><a href="#" class="btn btn-xs btn-primary">Barcelona</a></li>
            <li><a href="#" class="btn btn-xs btn-primary">Office</a></li>
            <li><a href="#" class="btn btn-xs btn-primary">Ipod</a></li>
            <li><a href="#" class="btn btn-xs btn-primary">Stock</a></li>
            <li><a href="#" class="btn btn-xs btn-primary">Race</a></li>
            <li><a href="#" class="btn btn-xs btn-primary">London</a></li>
            <li><a href="#" class="btn btn-xs btn-primary">Football</a></li>
            <li><a href="#" class="btn btn-xs btn-primary">Porche</a></li>
            <li><a href="#" class="btn btn-xs btn-primary">Gadgets</a></li>
          </ul>
        </div>
        <!-- /.tags-->
        <div class="widget blog_gallery">
          <h3>Our Gallery</h3>
          <ul class="sidebar-gallery">
            <li><a href="#"><img src="images/blog/gallery1.png" alt="image here"/></a></li>
            <li><a href="#"><img src="images/blog/gallery2.png" alt="image here"/></a></li>
            <li><a href="#"><img src="images/blog/gallery3.png" alt="image here"/></a></li>
            <li><a href="#"><img src="images/blog/gallery4.png" alt="image here"/></a></li>
            <li><a href="#"><img src="images/blog/gallery5.png" alt="image here"/></a></li>
            <li><a href="#"><img src="images/blog/gallery6.png" alt="image here"/></a></li>
          </ul>
        </div>
        <!-- /.blog_gallery-->
      </aside>
    </div>
    <!-- /.row-->
  </div>
  <!-- /.blog-->
</section>
<!-- /#blog-->{$post_title}
{$post_description}
{$Content}