section#blog.container
  .center
    h2 Blogs 
  .blog
    .row
      .col-md-8
        .blog-item
          img.img-responsive.img-blog(src='{$image}', width='100%', alt='image here')
          .row
            .col-xs-12.col-sm-2.text-center
              .entry-meta
                span#publish_date {$created_at}
                span
                  i.fa.fa-user
                  a(href='#') {$created_by}
                span
                  i.fa.fa-comment
                  a(href='blog-item.html#comments') {$comment_count}
            .col-xs-12.col-sm-10.blog-content
              {image_wrapper}
              img(src="{$image}")
              {/}
              {title_wrapper}
              h2 {$title}
              {/}
              {desription_wrapper}
              p
                {$post_description}
              {/}
              
              {tag_wrapper}
              .post-tags
                strong Tag : 
                a(href='#') {$tag}
              {/}
                
        h1#comments_title {comment_count} 5 {/} Comments
        {$comment}
        {comment_lister}
        {rows}
        {row}
        .row
            {$comment_list}
        {/}{/}
        {/}
        .message_heading
          h4 Leave a Reply
          p
            | Make sure filled information should to correct. HTML code is not allowed
        {$leave_reply}
        // /#contact-page
      // /.col-md-8
      aside.col-md-4
        .widget.search
          form(role='form')
            input.form-control.search_box(type='text', autocomplete='off', placeholder='Search Here')
        // /.search
        .widget.categories
          h3 Recent Comments
          .row
            .col-sm-12
              .single_comments
                img(src='images/blog/avatar3.png', alt='image here')
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                .entry-meta.small.muted
                  span
                    | By 
                    a(href='#') Alex
                  | On 
                  a(href='#') Creative
              .single_comments
                img(src='images/blog/avatar3.png', alt='image here')
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                .entry-meta.small.muted
                  span
                    | By 
                    a(href='#') Alex
                  | On 
                  a(href='#') Creative
              .single_comments
                img(src='images/blog/avatar3.png', alt='image here')
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                .entry-meta.small.muted
                  span
                    | By 
                    a(href='#') Alex
                  | On 
                  a(href='#') Creative
        // /.recent comments
        .widget.categories
          h3 Categories
          .row
            .col-sm-6
              ul.blog_category
                li
                  a(href='#')
                    | Computers 
                    span.badge 04
                li
                  a(href='#')
                    | Smartphone 
                    span.badge 10
                li
                  a(href='#')
                    | Gedgets 
                    span.badge 06
                li
                  a(href='#')
                    | Technology 
                    span.badge 25
        // /.categories
        .widget.archieve
          h3 Archieve
          .row
            .col-sm-12
              ul.blog_archieve
                li
                  a(href='#')
                    i.fa.fa-angle-double-right
                    |  December 2013 
                    span.pull-right (97)
                li
                  a(href='#')
                    i.fa.fa-angle-double-right
                    |  November 2013 
                    span.pull-right (32)
                li
                  a(href='#')
                    i.fa.fa-angle-double-right
                    |  October 2013 
                    span.pull-right (19)
                li
                  a(href='#')
                    i.fa.fa-angle-double-right
                    |  September 2013 
                    span.pull-right (08)
        // /.archieve
        .widget.tags
          h3 Tag Cloud
          ul.tag-cloud
            li
              a.btn.btn-xs.btn-primary(href='#') Apple
            li
              a.btn.btn-xs.btn-primary(href='#') Barcelona
            li
              a.btn.btn-xs.btn-primary(href='#') Office
            li
              a.btn.btn-xs.btn-primary(href='#') Ipod
            li
              a.btn.btn-xs.btn-primary(href='#') Stock
            li
              a.btn.btn-xs.btn-primary(href='#') Race
            li
              a.btn.btn-xs.btn-primary(href='#') London
            li
              a.btn.btn-xs.btn-primary(href='#') Football
            li
              a.btn.btn-xs.btn-primary(href='#') Porche
            li
              a.btn.btn-xs.btn-primary(href='#') Gadgets
        // /.tags
        .widget.blog_gallery
          h3 Our Gallery
          ul.sidebar-gallery
            li
              a(href='#')
                img(src='images/blog/gallery1.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery2.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery3.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery4.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery5.png', alt='image here')
            li
              a(href='#')
                img(src='images/blog/gallery6.png', alt='image here')
        // /.blog_gallery
    // /.row
  // /.blog
// /#blog
{$post_title}
{$post_description}

{$Content}