div(id='{$_name}' class="{$class} row" style="{$style}")
	{rows}{row}
	.blog
		.row
			.col-md-8
				.blog-item
					img.img-responsive.img-blog(src='{$image}', width='100%', alt='image here')
					.row
						.col-xs-12.col-sm-2.text-center
							.entry-meta
								span#publish_date {$created_at}
								span
									i.fa.fa-user
									a(href='#') {$created_by}
								span
									i.fa.fa-comment
									a(href='blog-item.html#comments') {$comment_count}
						.col-xs-12.col-sm-10.blog-content
							{image_wrapper}
							a(href="{$url}")
								img(src="{$image}")
							{/}
							{title_wrapper}
							h2 {$title}
							{/}
							{desription_wrapper}
							p(style = "height:50px; overflow: hidden; text-overflow: ellipsis; ") {$description}
							{/}
							a.btn.btn-primary.readmore.blog-post-detail(href="{$url}")
								| Read More 
								i.fa.fa-angle-right
	div(style="padding-bottom:25px;")
	{/}{/}
	{not_found}
	div.full-width.alert.alert-warning(role="alert")
		strong.glyphicon.glyphicon-warning-sign &nbsp;Warning!
			span &nbsp;{$not_found_message}
	{/}
	{paginator_wrapper}
	.xshop-item-paginator(style='float:none; clear:both')
		{$Paginator}
	{/}