
<div id="{$_name}" style="{$style}" class="{$class} row">{rows}{row}
  <div class="row">
    <div class="col-md-2"><span>
        Published At:
        {$created_at}</span>
      <div>Writer:<a href="#">{$employee}</a></div>
      <div>Comments:<a href="#">{$comments}		</a></div>
    </div>
    <div class="col-md-9">{image_wrapper}<a href="{$url}">{$file}</a>{/}
      <h2><a href="{$url}">{$title}	</a></h2>{description_wrapper}
      <h3>{$description}</h3>{/}	<a href="{$url}" class="btn btn-primary readmore blog-post-detail">Read More <i class="fa fa-angle-right"></i></a>
    </div>
  </div>{/}{/}
  {not_found}
  <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
  {paginator_wrapper}
  <div style="float:none; clear:both" class="xshop-item-paginator">{$Paginator}</div>{/}
</div>