div(id='{$_name}' class="{$class} row" style="{$style}")
	{rows}{row}
	.blog
		.row
			.col-md-12
				{image_wrapper}
				a(href="{$url}")
					img(style = "height:auto; width:100%; max-width:100%;" src="{$image}")
				{/}
		.row
			.col-xs-2.col-sm-12.col-md-3.text-center
				ul.list-group
					li.list-group-item
						{$created_at_date}
						span.pull-right
							i.fa.fa-calendar
					li.list-group-item
						{$created_by}																		
						span.pull-right
							i.fa.fa-user
					li.list-group-item
						a(href='?page=blog-item&post_id={$id}') {$comment_count}
						span.pull-right
							i.fa.fa-comment
			.col-xs-10.col-sm-12.col-md-9
				{title_wrapper}
				h2 {$title}
				{/}
				{desription_wrapper}
				div(style = "height:50px; overflow: hidden; text-overflow: ellipsis; ") {$description}
				{/}
				a.btn.btn-primary.readmore.blog-post-detail(href="{$url}")
					| Read More 
					i.fa.fa-angle-right
				hr			
	div(style="padding-bottom:25px;")
	{/}{/}
	{not_found}
	div.full-width.alert.alert-warning(role="alert")
		strong.glyphicon.glyphicon-warning-sign &nbsp;Warning!
			span &nbsp;{$not_found_message}
	{/}
	{paginator_wrapper}
	.xshop-item-paginator(style='float:none; clear:both')
		{$Paginator}
	{/}	