
<div id="{$_name}" style="{$style}" class="{$class} row">{rows}{row}
  <div class="blog">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-item"><img src="{$image}" width="100%" alt="image here" class="img-responsive img-blog"/>
          <div class="row">
            <div class="col-xs-12 col-sm-2 text-center">
              <div class="entry-meta"><span id="publish_date">{$created_at}</span><span><i class="fa fa-user"></i><a href="#">{$created_by}</a></span><span><i class="fa fa-comment"></i><a href="blog-item.html#comments">{$comment_count}</a></span></div>
            </div>
            <div class="col-xs-12 col-sm-10 blog-content">{image_wrapper}<a href="{$url}"><img src="{$image}"/></a>{/}
              {title_wrapper}
              <h2>{$title}</h2>{/}
              {desription_wrapper}
              <p style="height:50px; overflow: hidden; text-overflow: ellipsis; ">{$description}</p>{/}<a href="{$url}" class="btn btn-primary readmore blog-post-detail">Read More <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-bottom:25px;"></div>{/}{/}
  {not_found}
  <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
  {paginator_wrapper}
  <div style="float:none; clear:both" class="xshop-item-paginator">{$Paginator}</div>{/}
</div>