div(id='{$_name}' class="{$class} row" style="{$style}")
	{rows}{row}
	.row
		.col-md-2
			span
				| Published At:
				{$created_at}
			div
				|Writer:
				a(href='#') {$employee_id}
			div
				|Comments:
				a(href='#') {$comments}		
		.col-md-9
			{image_wrapper}
			a(href="{$url}")
				img.img-responsive(src="" width="100%" height="100%" alt="Image Not Found")
			{/}
			h2
				a(href="{$url}") {$title}	
			{description_wrapper}
			h3
				{$description}
			{/}	
			a.btn.btn-primary.readmore.blog-post-detail(href="{$url}")
				| Read More 
				i.fa.fa-angle-right
	{/}{/}
	{not_found}
	div.full-width.alert.alert-warning(role="alert")
		strong.glyphicon.glyphicon-warning-sign &nbsp;Warning!
			span &nbsp;{$not_found_message}
	{/}
	{paginator_wrapper}
	.xshop-item-paginator(style='float:none; clear:both')
		{$Paginator}
	{/}
