div(id='{$_name}' class="{$class} row" style="{$style}")
	{rows}{row}
	.blog
		.row(style='margin-left:45px;')
			.col-md-12
				.blog-item
					{image_wrapper}
					a(href="{$url}")
						img(style = "height:300px;" , width='80%', src="{$image}")
					{/}
					.row
						.col-xs-12.col-sm-3.text-center
							.entry-meta
								span#publish_date {$created_at}
								span
									i.fa.fa-user
									a(href='#') {$created_by}
								span
									i.fa.fa-comment
									a(href='blog-item.html#comments') {$comment_count}
						.col-xs-12.col-sm-9.blog-content
							{title_wrapper}
							h2 {$title}
							{/}
							{desription_wrapper}
							div(style = "height:50px; overflow: hidden; text-overflow: ellipsis; ") {$description}
							{/}
							a.btn.btn-primary.readmore.blog-post-detail(href="{$url}")
								| Read More 
								i.fa.fa-angle-right
	div(style="padding-bottom:25px;")
	{/}{/}
	{not_found}
	div.full-width.alert.alert-warning(role="alert")
		strong.glyphicon.glyphicon-warning-sign &nbsp;Warning!
			span &nbsp;{$not_found_message}
	{/}
	{paginator_wrapper}
	.xshop-item-paginator(style='float:none; clear:both')
		{$Paginator}
	{/}